{% load static %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ramco Institute of Technology</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="top one">
    </div>
    <div class="continer">
        <span class="toptitle">

            <center><b>B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM</b></center>
        </span>
        <br>
        <form method="post" id="hsc">
            {% csrf_token %}
            <div class="div-container">
                <div class="full">
                    <section class="container">
                    </section>
                    <div class="details personal"></div><br>

                <!-- 3rd form -->
                 <!-- 3rd form -->
                 <div class="my-div" id="div3">
                        <div class="details Admission">
                        <div class="buttons">
                            <div class="align-right">
                                <button type="button" id="btnn6" >Previous Page</button>
                            </div>
                            <div class="align-right">
                                <button type="button" id="btnn0" hidden>NextPage0</button>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="1styear I_Year  ye" id="addressDiv">
                            <span class="title"><b>11th Std. School Information</b></span><br>
                            <div class="column">
                            <div class="select-box">
                                    <label for="Eleventh_Std_School_Name">Select School</label>
                                    <select id="Eleventh_Std_School_Name" name="Eleventh_Std_School_Name" onchange="toggleInputBox1()" >
                                    <option value="ACHYUTA ACADEMY MATRIC HIGHER SECONDARY SCHOOL">ACHYUTA ACADEMY MATRIC HIGHER SECONDARY SCHOOL</option>
    <option value="ADARSH VIDYA KENDRA SENIOR SECONDARY SCHOOL">ADARSH VIDYA KENDRA SENIOR SECONDARY SCHOOL</option>
    <option value="ADHARSH VIDHYALAYA MATRIC HIGHER SECONDARY SCHOOL">ADHARSH VIDHYALAYA MATRIC HIGHER SECONDARY SCHOOL</option>
    <option value="ALAGAR PUBLIC SCHOOL">ALAGAR PUBLIC SCHOOL</option>

                                    </select>
                                </div>

                                <div class="select-box">
                                    <label> Year of Passing*</label>
                                    <select name="Eleventh_Std_Year_of_Passing" id="Eleventh_Std_Year_of_Passing"  placeholder="Enter the Year" >
                                        <option value="" disabled selected>Select Year</option>
                                        <option value="2017">2017</option>
                                        <option  value="2018">2018</option>
                                        <option  value="2019">2019</option>
                                        <option  value="2020">2020</option>
                                        <option  value="2021">2021</option>
                                        <option  value="2022">2022</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <label> Place of the School*</label><br>
                                    <input type="text" name="Eleventh_Std_Place_of_School" id="Eleventh_Std_Place_of_School" placeholder="Enter the Place" >
                                </div>
                            </div>
                            <div class="container">
                                <div class="select-box">
                                    <label>Medium of Study in 11th*</label>
                                    <select name="Eleventh_Std_Medium_of_Study">
                                        <option  value="" disabled selected>Select Medium</option>
                                        <option value="English">English</option>
                                        <option >Tamil</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label>Category*</label>
                                    <select name="Eleventh_Std_Category">
                                        <option  value="" disabled selected>Select</option>
                                        <option value="Academic">Academic</option>
                                        <option value="Vocational">Vocational</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <span class="title"><b>12th Std. School Information</b></span><br>
                            <div class="column">
                                <div class="adress" style="display: flex; align-items: center;">
                                    <input type="checkBox" id="checkBox2" style="transform : scale(2);" onclick="FillSchoolInput()"><br>
                                    <label for="checkBox2" style="margin-right: 5px; white-space: nowrap;"><span> &nbsp; &nbsp; &nbsp;</span>Same as
                                        school</label>
                                </div>
                            </div>
                            <div class="column">
                            <div class="select-box">
                                    <label for="Twelfth_Std_School_Name">Select School</label>
                                    <select id="Twelfth_Std_School_Name" name="Twelfth_Std_School_Name" onchange="toggleInputBox2()" >
                                    <option value="ACHYUTA ACADEMY MATRIC HIGHER SECONDARY SCHOOL">ACHYUTA ACADEMY MATRIC HIGHER SECONDARY SCHOOL</option>
    <option value="ADARSH VIDYA KENDRA SENIOR SECONDARY SCHOOL">ADARSH VIDYA KENDRA SENIOR SECONDARY SCHOOL</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label> Year of Passing*</label>
                                    <select name="Twelfth_Std_Year_of_Passing" id="Twelfth_Std_Year_of_Passing"  placeholder="Enter the Year" >
                                        <option value="" disabled selected>Select Year</option>
                                        <option value="2017">2017</option>
                                        <option  value="2018">2018</option>
                                        <option  value="2019">2019</option>
                                        <option  value="2020">2020</option>
                                        <option  value="2021">2021</option>
                                        <option  value="2022">2022</option>
                                        <option  value="2023">2023</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <label> Place of the School*</label><br>
                                    <input type="text" name="Twelfth_Std_Place_of_School" id="Twelfth_Std_Place_of_School" placeholder="Enter the Place" >
                                </div>
                            </div>
                            <div class="container">
                                <div class="select-box">
                                    <label>Medium of Study in 12th*</label>
                                    <select name="Twelfth_Std_Medium_of_Study" >
                                        <option  value="" disabled selected>Select Medium</option>
                                        <option value="English">English</option>
                                        <option >Tamil</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label>Category*</label>
                                    <select name="Twelfth_Std_Category" >
                                    <option  value="" disabled selected>Select</option>
                                        <option value="State Board">State Board</option>
                                        <option value="CBSE">CBSE</option>
                                        <option value="ICSE">ICSE</option>
                                    </select>
                                </div>
                                
                            </div>
                            <div class="lateraldiploma"  id="acavocDiv">
                            <div classhscdip">
                                <br><br><span class="title"><b>HSC Details</b></span><br>
                                <div class="container">
                                    <div class="input-box1">
                                        <label>HSC Roll No <br> (For State Board/CBSE Students) <br> (Unique ID for ICSE
                                            Students)</label><br>
                                        <input type="number" name="Twelfth_Std_Register_No" placeholder="Enter the number" >
                                    </div>
                                    <div class="input-box1">
                                        <label><br><br>HSC Marksheet No</label><br>
                                        <input type="number" name="Twelfth_Std_Marksheet_No" placeholder="Enter the number" >
                                    </div>
                                    <div class="select-box">
                                        <label><br><br>+2 studied in </label>
                                        <select name="Twelfth_Std_studied_in" id="Twelfth_Std_studied_in" >
                                            <option  value="" disabled selected>Select</option>
                                            <option value="Tamilnadu">Tamilnadu</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="select-box">
                                        <label>Education Qualified</label>
                                        <select id="Twelfth_Std_Education_Qualified" name="Twelfth_Std_Education_Qualified" >
                                            <option  value="" disabled selected>Select</option>
                                            <option value="aca">HSC(Academic)</option>
                                            <option value="voc">HSC(Vocational)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=" aca de">
                                <span class="title"><b>HSC(Academic)</b></span><br>
                                <div class="container">
                                    <div class="input-box1">
                                        <label for="Twelfth_Std_aca_1st_Subject_Name">Language Marks<br> (if ICSE please enter the value as 0)
                                        </label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_aca_Language_Mark" id="Twelfth_Std_aca_1st_Subject_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum1()">
                                    </div>
                                    <div class="input-box1">
                                        <label for="Twelfth_Std_aca_2nd_Subject_Name"><br>English Marks</label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_aca_English_Mark" id="Twelfth_Std_aca_2nd_Subject_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum1()">
                                    </div>
                                    <div class="input-box1">
                                        <label for="acasub3"><br>Mathematics Marks</label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_aca_Mathematics_Mark" id="Twelfth_Std_aca_3rd_Subject_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum1()">
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="input-box1">
                                        <label for="acasub4">Physics Marks</label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_aca_Physics_Mark" id="Twelfth_Std_aca_4th_Subject_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum1()">
                                    </div>
                                    <div class="input-box1">
                                        <label for="acasub5">Chemistry Marks</label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_aca_Chemistry_Mark" id="Twelfth_Std_aca_5th_Subject_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum1()">
                                    </div>
                                    <div class="select-box">
                                        <label for="acatot">Elective(BIO/CS)</label>
                                        <select name="Twelfth_Std_aca_Elective_Name">
                                            <option hidden>Select subject</option>
                                            <option value="Computer Science">Computer Science</option>
                                            <option value="Biology">Biology</option>
                                        </select>
                                    </div>
                                    <div class="input-box" style="position: relative; left: 750px;">
                                        <input type="number" maxlength="3" name="Twelfth_Std_aca_Elective_Mark" id="Twelfth_Std_aca_6th_Subject_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum1()">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label for="acatot">Total Marks</label>
                                        <input type="number" maxlength="3" name="Twelfth_Std_aca_Total_Marks" id="Twelfth_Std_aca_Total_Marks" readonly
                                            placeholder="Enter the marks">
                                    </div>
                                    <div class="input-box">
                                        <label for="acacutoff">CUT OFF out of 200</label>
                                        <input type="number" maxlength="7" name="Twelfth_Std_aca_CUT_OFF_Mark" id="Twelfth_Std_aca_CUT_OFF_Mark" readonly
                                            placeholder="Enter the marks">
                                    </div>
                                    <div class="input-box">
                                        <label for="acapcm">PCM Average</label>
                                        <input type="number" maxlength="6" name="Twelfth_Std_aca_PCM_Average" id="Twelfth_Std_aca_PCM_Average" readonly
                                            placeholder="Enter the marks">
                                    </div>
                                </div>

                            </div>
                            <div class="info voc de">
                                <span class="title"><b>HSC(Vocational)</b></span><br>
                                <div class="container">
                                    <div class="input-box1">
                                        <label for="vocsub1">Language Marks<br> (if ICSE please enter the value as 0)
                                        </label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_voc_Language_Mark" id="Twelfth_Std_voc_Language_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum2()">
                                    </div>
                                    <div class="input-box1">
                                        <label for="vocsub2"><br>English Marks</label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_voc_English_Mark" id="Twelfth_Std_voc_English_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum2()">
                                    </div>
                                    <div class="input-box1">
                                        <label for="vocsub4"><br>Chemistry Marks</label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_voc_chemistry_Mark" id="Twelfth_Std_voc_chemistry_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum2()">
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="select-box">
                                        <label for="Twelfth_Std_voc_Mathematics_or_Physics_Name">Mathematics/Physics</label>
                                        <select name="Twelfth_Std_voc_Mathematics_or_Physics_Name">
                                            <option hidden>Select subject</option>
                                            <option value="Mathematics">Mathematics</option>
                                            <option value="Physics">Physics</option>
                                        </select>
                                    </div>
                                    <div class="input-box1" style="left: 500px;">
                                        <label for="Twelfth_Std_voc_Vocational_Theory_Name">Vocational Theory</label>
                                        <br><input type="text" name="Twelfth_Std_voc_Vocational_Theory_Mark" placeholder="Enter the subject name">
                                        <br><br><input type="number" maxlength="3" name="Twelfth_Std_voc_Vocational_Theory_Mark" id="Twelfth_Std_voc_Vocational_Theory_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum2()">
                                    </div>
                                    <div class="input-box1">
                                        <label for="vocsub6">Practical</label>
                                        <br><input type="text" name="Twelfth_Std_voc_Practical_Mark" placeholder="Enter the subject name">
                                        <br><br><input type="number" maxlength="3" name="Twelfth_Std_voc_Practical_Mark" id="Twelfth_Std_voc_Practical_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum2()">
                                    </div>
                                    <div class="input-box1" style="position: relative; right: 1142px; top: 100px;">
                                        <input type="number" maxlength="3" name="Twelfth_Std_voc_Mathematics_or_Physics_Mark" id="Twelfth_Std_voc_Mathematics_or_Physics_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum2()">
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="input-box1">
                                        <label>Total Marks</label>
                                        <br><input type="number" maxlength="3" name="Twelfth_Std_voc_Total_Marks" id="Twelfth_Std_voc_Total_Marks" readonly
                                            id="voctot" placeholder="Enter the marks">
                                    </div>
                                    <div class="input-box1">
                                        <label>CUT OFF out of 200</label>
                                        <br><input type="number" maxlength="7" name="Twelfth_Std_voc_CUT_OFF_Mark" id="Twelfth_Std_voc_CUT_OFF_Mark" readonly
                                             placeholder="Enter the marks">
                                    </div>
                                    <div class="input-box1">
                                        <label>PCM Average</label>
                                        <br><input type="number" maxlength="6" name="Twelfth_Std_voc_PCM_Average" id="Twelfth_Std_voc_PCM_Average" readonly
                                            placeholder="Enter the marks">
                                    </div>
                                </div>
                            </div></div>
                        </div>

                            <br>

                            <div class="buttons">
                                <div class="align-left">
                                    <button type="submit">NextPage</button>
                                </div>
                            </div>
                        </div>
                </div><br>


                </div>
            </div>
        </form>
    </div>
</body>

</html>