{% load static %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ramco Institute of Technology</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="top one">
    </div>
    <div class="continer">
        <span class="toptitle">

            <center><b>B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM</b></center>
        </span>
        <br>
        <form method="post" id="postform">
            {% csrf_token %}
            <div class="div-container">
                <div class="full">
                    <section class="container">
                    </section>
                    <div class="details personal"></div><br>
                    <div class="my-div active" id="div0">
                        <span class="title"><b>ADMISSION</b></span>
                        <div class="container">
                            <div class="select-box">
                                <label>Admission for<span style="color: red;">*</span></label>
                                <select name="admissionFor" id="admissionFor" required>
                                    <option  value="" disabled selected>Select</option>
                                    <option value="I_Year">I Year</option>
                                    <option value="II_Year">Direct II Year</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <label>Quota<span style="color: red;">*</span></label>
                                <select name="Quota" id="Quota" required>
                                    <option  value="" disabled selected>Select</option>
                                    <option value="GQ">Government Quota</option>
                                    <option value="MQ">Management Quota</option>
                                </select>
                            </div>
                            
                            
                        </div>
                        <div class="container">
                            <div class="select-box">
                                <label>Branch Alloted<span style="color: red;">*</span></label>
                                <select name="Department" required>
                                <option  value="" disabled selected>Select</option>
                                    <option value="B.TECH AD">AD-ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</option>
                                    <option value="B.E CIVIL">CE-CIVIL ENGINEERING</option>
                                    <option value="B.TECH CSBS">CB-COMPUTER SCIENCE AND BUSINESS SYSTEM</option>
                                    <option value="B.E CSE">CS-COMPUTER SCIENCE AND ENGINEERING</option>
                                    <option value="B.E EEE">EE-ELECRICAL AND ELECTRONICS ENGINEERING</option>
                                    <option value="B.E ECE">EC-ELECTRONICS AND COMMUNICATION ENGINEERING</option>
                                    <option value="B.TECH IT">IT-INFORMATION TECHNOLOGY</option>
                                    <option value="B.E MECH">ME-MECHANICAL ENGINEERING</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <label>Mode<span style="color: red;">*</span></label>
                                <select name="Mode" required>
                                    <option  value="" disabled selected>Select Mode</option>
                                    <option value="Hostel">Hostel</option>
                                    <option value="Transport">Transport</option>
                                </select>
                            </div>
                        </div><br><br><br>
                        <span class="title"><b> I. PERSONAL INFORMATION</b></span>
                        <div class="field">
                            <div class="container">
                                <div class="input-box1">
                                    <label>Name with Initial At Last<span style="color: red;">*</span></label><br>
                                    <input type="text" name="Name" id="Name" placeholder="Enter the name" required>
                                </div>
                                <div class="input-box1">
                                    <label>Date-of-Birth<span style="color: red;">*</span></label><br>
                                    <input type="date" name="Date_of_Birth" id="Date_of_Birth" placeholder="Enter birth date"
                                        onchange="calculateAge()" required>
                                </div>
                                <div class="input-box1">
                                    <label>Age*</label><br>
                                    <input type="number"  name="Age" id="Age" placeholder="Enter the Age" >
                                </div>
                            </div>
                            <div class="container">
                                <div class="select-box" >
                                    <label>Gender<span style="color: red;">*</span></label>
                                    <select name="Gender" id="Gender" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label>Nationality<span style="color: red;">*</span></label>
                                    <select name="Nationality" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="Indian">Indian</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label>Religion<span style="color: red;">*</span></label>
                                    <select name="Religion" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="Hindu">Hindu</option>
                                        <option value="Christian">Christian</option>
                                        <option value="Muslim">Muslim</option>
                                        <option value="Jain">Jain</option>
                                        <option value="Buddhism">Buddhism</option>
                                        <option value="others">others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container">
                                <div class="select-box" >
                                    <label>Mother Tongue<span style="color: red;">*</span></label>
                                    <select name="Mother_Tongue" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="Tamil">Tamil</option>
                                        <option value="Telugu">Telugu</option>
                                        <option value="Kannada">Kannada</option>
                                        <option value="Hindi">Hindi</option>
                                    </select>
                                </div>
                                <div class="select-box" >
                                    <label>Nativity<span style="color: red;">*</span></label>
                                    <select name="Nativity" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="TAMIL NADU">Tamil Nadu</option>
                                        <option value="KERALA">Kerala</option>
                                        <option value="KARNATAKA">Karnataka</option>
                                        <option value="TELANGANA">Telangana</option>
                                        <option value="ANDHRA PRADESH">Andhra Pradesh</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="input-box1">
                                    <label>Self Mobile Number<span style="color: red;">*</span></label><br>
                                    <input type="tel" name="Self_Mobile_Number" maxlength="10" placeholder="Enter Mobile number" required>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input-box">
                                    <label>Self E-mail ID<span style="color: red;">*</span></label><br>
                                    <input type="email" name="Self_Email_ID" placeholder="Enter E-mail ID'" required/>
                                </div>
                                <div class="input-box">
                                    <label>Father name<span style="color: red;">*</span></label><br>
                                    <input type="text" name="Father_name" placeholder="Enter Father name (Ramu.V)" required/>
                                </div>
                                <div class="input-box">
                                    <label>Father Mobile Number<span style="color: red;">*</span></label><br>
                                    <input type="tel" name="Father_Mobile_Number" maxlength="10" placeholder="Enter Mobile number" required>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input-box">
                                    <label>Mother name<span style="color: red;">*</span></label><br>
                                    <input type="text" name="Mother_name" placeholder="Enter Mother name (Rani.V)" required/>
                                </div>
                                <div class="input-box">
                                    <label>Mother Mobile Number<span style="color: red;">*</span></label><br>
                                    <input type="tel" name="Mother_Mobile_Number" maxlength="10" placeholder="Enter Mobile number" required>
                                </div>
                                <div class="input-box">
                                    <label>Guardian name<span style="color: red;">*</span></label><br>
                                    <input type="text" name="Guardian_name" placeholder="Enter Guardian name"  required/>
                                </div>
                            </div>
                            <div class="container">
                                <div class="input-box1">
                                    <label>Guardian/Father Mobile No<span style="color: red;">*</span></label><br>
                                    <input type="text" name="Guardian_Father_Mobile_No" maxlength="10" placeholder="Enter Mobile number" required>
                                </div>
                                <div class="select-box">
                                    <label>Community<span style="color: red;">*</span></label>
                                    <select name="Community" id="Community" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="OC">OC</option>
                                        <option value="BC">BC</option>
                                        <option value="BC_Converted_Christian">BC (Converted Christian)</option>
                                        <option value="BCM">BCM</option>
                                        <option value="MBC">MBC</option>
                                        <option value="DNC">DNC</option>
                                        <option value="SC">SC</option>
                                        <option value="ST">ST</option>
                                        <option value="SCA">SCA</option>
                                    </select>
                                </div>
                                <div class="input-box1">
                                    <label>Caste<span style="color: red;">*</span></label><br>
                                    <input type="text" name="Caste" placeholder="Enter the Caste name"  required/>
                                </div>
                            </div>

                            <div class="column">
                                <div class="input-box com BC BC_Converted_Christian BCM MBC DNC SC ST SCA">
                                    <label>Community Certificate Number<span style="color: red;">*</span></label><br>
                                    <input type="text" name="CommunityNumber" maxlength="20" placeholder="Enter the number">
                                </div>
                                <br>

                            </div>
                            <div class="column">
                            <div class="input-box">
                                    <label>Aadhaar No*</label><br>
                                    <input type="tel" name="Aadhaar_Number" maxlength="12" placeholder="Enter the number"
                                     required   >
                                </div>
                                </div>
                        </div><br>
                    </div>

                    <div class="my-div" id="div1">

                        <br>
                        <br>

                        <h><b>II. COMMUNICATION DETAILS</b></h1><br>
                            <span class="title"><b>a)Permanent Address</b></span><br>

                           <div class="column">
                           <div class="input-box">
                                    <label>Door No*</label><br>
                                    <input type="text" name="Permanent_Address_Door_No" placeholder="Enter the number" id="Permanent_Address_Door_No" required />
                                </div>
                                <div class="input-box">
                                    <label>Street Name*</label><br>
                                    <input type="text" name="Permanent_Address_Street_Name" placeholder="Enter the name" id="Permanent_Address_Street_Name" required />
                                </div>
                                <div class="input-box">
                                    <label>Location*</label><br>
                                    <input type="text" name="Permanent_Address_Location" placeholder="Enter the Location" id="Permanent_Address_Location" required />
                                </div>
                                </div>



                                <div class="column">
                                <div class="input-box">
                                    <label>Taluk*</label><br>
                                    <input type="text" name="Permanent_Address_Taluk" placeholder="Enter the name" id="Permanent_Address_Taluk" required />
                                </div>
                                <div class="select-box">
                                    <label>District<span style="color: red;">*</span></label>
                                    <select name="Permanent_Address_District" id="Permanent_Address_District"  required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="ARIYALUR">ARIYALUR</option>
                                    <option value="CHENNAI">CHENNAI</option>
                                    <option value="CHENGALPATTU">CHENGALPATTU</option>
                                    <option value="COIMBATORE">COIMBATORE</option>
                                    <option value="CUDDALORE">CUDDALORE</option>
                                    <option value="DHARMAPURI">DHARMAPURI</option>
                                    </select>
                                </div>
                                <div class="select-box" >
                                    <label>State<span style="color: red;">*</span></label>
                                    <select name="Permanent_Address_State"  id="Permanent_Address_State" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="TAMIL NADU">Tamil Nadu</option>
                                        <option value="KERALA">Kerala</option>
                                        <option value="KARNATAKA">Karnataka</option>
                                        <option value="TELANGANA">Telangana</option>
                                        <option value="ANDHRA PRADESH">Andhra Pradesh</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>

                                </div>

                                

                                <div class="column">
                                <div class="input-box">
                                    <label>Pincode*</label><br>
                                    <input type="number" name="Permanent_Address_Pincode" placeholder="Enter the number"  id="Permanent_Address_Pincode" required />
                                </div>
                                </div>
<!--                      =============================================================== === -->

                           <br>
                            <span class="title"><b>b)Communication Address</b></span><br>
                            <div class="column">
                                <div class="adress" style="display: flex; align-items: center;">
                                    <input type="checkbox" id="checkBox" style="transform : scale(2);" onclick="FillAddressInput()"><br>
                                    <label for="checkBox" style="margin-right: 5px; white-space: nowrap;"><span> &nbsp; &nbsp; &nbsp;</span>Same as
                                        permanent address</label>
                                </div>
                            </div>


                            <div class="column">
                            <div class="input-box">
                                    <label>Door No*</label><br>
                                    <input type="text" name="Communication_Address_Door_No" placeholder="Enter the number" id="Communication_Address_Door_No" required />
                                </div>
                                <div class="input-box">
                                    <label>Street Name*</label><br>
                                    <input type="text" name="Communication_Address_Street_Name" placeholder="Enter the name" id="Communication_Address_Street_Name" required />
                                </div>
                                <div class="input-box">
                                    <label>Location*</label><br>
                                    <input type="text" name="Communication_Address_Location" placeholder="Enter the Location" id="Communication_Address_Location" required />
                                </div>
                            </div>

                            <div class="column">
                            <div class="input-box">
                                    <label>Taluk*</label><br>
                                    <input type="text" name="Communication_Address_Taluk" placeholder="Enter the name" id="Communication_Address_Taluk" required />
                                </div>
                                <div class="select-box">
                                    <label>District<span style="color: red;">*</span></label>
                                    <select name="Communication_Address_District" id="Communication_Address_District"  required>
                                    <option value="" disabled selected>Select</option>
                                    <option value="ARIYALUR">ARIYALUR</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <label>State*</label><br>
                                    <select name="Communication_Address_State"  id="Communication_Address_State" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="TAMIL NADU">Tamil Nadu</option>
                                        <option value="KERALA">Kerala</option>
                                        <option value="KARNATAKA">Karnataka</option>
                                        <option value="TELANGANA">Telangana</option>
                                        <option value="ANDHRA PRADESH">Andhra Pradesh</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>

                            <div class="column">
                            <div class="input-box">
                                    <label>Pincode*</label><br>
                                    <input type="number" name="Communication_Address_Pincode" placeholder="Enter the number" id="Communication_Address_Pincode" required />
                                </div>
                            </div>

                            <br>
                            <div class="my-div" id="div2">
                                <div class="details Admission">
                                <br>
                                <br>
                                    <span class="title"><b>III. ACADEMIC INFORMATION</b></span><br>
                                    <div class="government ">
                                        <span class="title"><b>IV. ADMISSION DETAILS (Only for GQ Students)</b></span><br>
                                        <div class="column">
                                            <div class="input-box">
                                                <label>Counselling Application No*</label><br>
                                                <input type="text" name="Counselling_Application_No " placeholder="Enter the number">
                                            </div>
                                            <div class="input-box">
                                                <label> GQ Admission Number*</label><br>
                                                <input type="text" name="GQ_Admission_Number" placeholder="Enter the Rank Number">
                                            </div>
                                            <div class="input-box">
                                                <label> Counselling General Rank*</label><br>
                                                <input type="text" name="Counselling_General_Rank" placeholder="Enter the Rank Number">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
        
                                    <span class="title"><b>10th Std. School Information</b></span><br>
                                    <div class="column">
                                    <div class="select-box">
                                            <label for="Tenth_Std_School_Name">Select School</label>
                                            <select id="Tenth_Std_School_Name" name="Tenth_Std_School_Name" onchange="toggleInputBox()" required>
                                            <option value="ACHYUTA ACADEMY MATRIC HIGHER SECONDARY SCHOOL">ACHYUTA ACADEMY MATRIC HIGHER SECONDARY SCHOOL</option>
            <option value="ADARSH VIDYA KENDRA SENIOR SECONDARY SCHOOL">ADARSH VIDYA KENDRA SENIOR SECONDARY SCHOOL</option>
            <option value="ADHARSH VIDHYALAYA MATRIC HIGHER SECONDARY SCHOOL">ADHARSH VIDHYALAYA MATRIC HIGHER SECONDARY SCHOOL</option>
            <option value="ALAGAR PUBLIC SCHOOL">ALAGAR PUBLIC SCHOOL</option>
                                            </select>
                                        </div>                             
                                        <div class="select-box">
                                            <label> Year of Passing*</label>
                                            <select name="Tenth_Std_Year_of_Passing" id="Tenth_Std_Year_of_Passing"  placeholder="Enter the Year" required>
                                                <option value="" disabled selected>Select Year</option>
                                                <option value="2017">2017</option>
                                                <option  value="2018">2018</option>
                                                <option  value="2019">2019</option>
                                                <option  value="2020">2020</option>
                                                <option  value="2021">2021</option>
                                            </select>
                                        </div>
                                        
                                        <div class="select-box">
                                            <label>10th studied in* </label>
                                            <select name="Tenth_Std_Studied_In" required>
                                                <option  value="" disabled selected>Select</option>
                                                <option value="Tamilnadu">Tamilnadu</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                        
                                        
                                    </div>
         <!-- ================================================================================================================================= -->
                               <div class="column" >
                                        <div class="select-box" >
                                            <label>Medium of Study in 10th*</label>
                                            <select name="Tenth_Std_Medium_of_Study" required>
                                                <option value="" disabled selected>Select Medium</option>
                                                <option value="English">English</option>
                                                <option  value="Tamil">Tamil</option>
                                            </select>
                                        </div>
                                        <div class="select-box">
                                            <label>School Type*</label>
                                            <select name="Tenth_Std_School_Type" id="Tenth_Std_School_Type" required>
                                                <option  value="" disabled selected>Select</option>
                                                <option value="State Board">State Board</option>
                                                <option value="CBSE">CBSE</option>
                                                <option value="ICSE">ICSE</option>
                                            </select>
                                        </div>
                                        <div class="input-box">
                                            <label>EMIS ID*</label>
                                            <input type="number" name="EMIS_ID" placeholder="Enter the number" required>
                                        </div>

                                    </div>
                                    <span class="title"><b>SSLC Details</b></span><br>
                                    <div class="cloumn" >
                                        <div class="input-box" >
                                            <label >SSLC Register No*</label><br>
                                            <input  type="text" name="Tenth_Std_Register_No" placeholder="Enter the number" >
                                        </div>

                                        <div class="input-box">
                                            <label >SSLC Roll No*</label><br>
                                            <input  type="number" name="Tenth_Std_Roll_No" placeholder="Enter the number" >
                                        </div>
                                        <div class="input-box">
                                            <label >SSLC Marksheet No*</label><br>
                                            <input type="number" name="Tenth_Std_Marksheet_No" placeholder="Enter the number" >
                                        </div>
                                        <div class="input-box">
                                            <label> Place of the School*</label><br>
                                            <input type="text" name="Tenth_Std_Place_of_School" id="Tenth_Std_Place_of_School"placeholder="Enter the Place" required>
                                        </div>
                                    </div>
</div>
        <!-- ================================================================================================================================= -->
                                <br><br><span class="title"><b>Mark Scored in SSLC</b></span><br>
                                <div id="constantFields">
                                <div class="column">
                                    <div class="input-box">
                                        <label>Enter the Subject Name*</label>
                                        <input type="text" name="Tenth_Std_Tamil_Name" placeholder="Enter the name" required>
                                    </div>
                                    <div class="input-box">
                                        <label for="Tenth_Std_Tamil_Mark">Enter the Mark*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Tamil_Mark" id="Tenth_Std_Tamil_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum()" required>
                                    </div>
                                    <div class="input-box">
                                        <label>Out of*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Tamil_Obtain_Mark" placeholder="Enter the marks" value="100" required>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Enter the Subject Name*</label>
                                        <input type="text" name="Tenth_Std_English_Name" placeholder="Enter the name" required>
                                    </div>
                                    <div class="input-box">
                                        <label for="Tenth_Std_English_Mark">Enter the Mark*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_English_Mark" id="Tenth_Std_English_Mark"
                                            placeholder="Enter the marks" oninput="calculateSum()" required>
                                    </div>
                                    <div class="input-box">
                                        <label>Out of*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_English_Obtain_Mark" placeholder="Enter the marks"value="100" required>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Enter the Subject Name*</label>
                                        <input type="text" name="Tenth_Std_Maths_Name" placeholder="Enter the name"  required>
                                    </div>
                                    <div class="input-box">
                                        <label for="Tenth_Std_Maths_Mark">Enter the Mark*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Maths_Mark" id="Tenth_Std_Maths_Mark" 
                                            placeholder="Enter the marks" oninput="calculateSum()" required>
                                    </div>
                                    <div class="input-box">
                                        <label>Out of*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Maths_Obtain_Mark" placeholder="Enter the marks" value="100"required>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Enter the Subject Name*</label>
                                        <input type="text" name="Tenth_Std_Science_Name" placeholder="Enter the name" required>
                                    </div>
                                    <div class="input-box">
                                        <label for="Tenth_Std_Science_Mark">Enter the Mark*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Science_Mark" id="Tenth_Std_Science_Mark" 
                                            placeholder="Enter the marks" oninput="calculateSum()" required>
                                    </div>
                                    <div class="input-box">
                                        <label>Out of*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Science_Obtain_Mark" placeholder="Enter the marks" value="100" required>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Enter the Subject Name*</label>
                                        <input type="text" name="Tenth_Std_SocialScience_Name" placeholder="Enter the name" required>
                                    </div>
                                    <div class="input-box">
                                        <label for="Tenth_Std_SocialScience_Mark">Enter the Mark*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_SocialScience_Mark" id="Tenth_Std_SocialScience_Mark" 
                                            placeholder="Enter the marks" oninput="calculateSum()" required>
                                    </div>
                                    <div class="input-box">
                                        <label>Out of*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_SocialScience_Obtain_Mark" placeholder="Enter the marks" value="100" required>
                                    </div>
                                </div>
                                <div class="column ICSE six" >
                                    <div class="input-box">
                                        <label>Enter the Subject Name*</label>
                                        <input type="text" name="Tenth_Std_Others_Name" placeholder="Enter the name" >
                                    </div>
                                    <div class="input-box">
                                        <label for="Tenth_Std_Others_Mark">Enter the Mark*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Others_Mark" id="Tenth_Std_Others_Mark" 
                                            placeholder="Enter the marks" oninput="calculateSum()">
                                    </div>
                                    <div class="input-box">
                                        <label>Out of*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Others_Obtain_Mark" placeholder="Enter the marks" value="100">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label for="Tenth_Std_Total_Mark">Enter the Total Mark*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Total_Mark" id="Tenth_Std_Total_Mark"
                                            placeholder="Enter the marks" >
                                    </div>
                                    <div class="input-box">
                                        <label>Out of*</label>
                                        <input type="number" maxlength="3" name="Tenth_Std_Obtain_Mark" placeholder="Enter the marks"  required>
                                    </div>
                                </div></div>
                                    <br>
                                    <br>
                                    <br>
                        </div>

                            <div class="buttons">
                                <div class="align-left">
                                    <button type="submit"  id="btnn3">NextPage</button>
                                </div>
                            </div>
                        </div>

                        </form>
                    </div>
</body>

</html>