{% load static %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ramco Institute of Technology</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
    <div class="top one">
    </div>
    <!-- <div><a href="../admission/index.php"><button class="button w3-button-DodgerBlue w3-hover-deep-orange" style="vertical-align:middle"><span>Home Page</span></button></a></div> -->
    <div class="continer">
        <span class="toptitle">

            <center><b>B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM</b></center>
        </span>
        <br>
        <form action="REDIRECT_GQ_MQ.php" method="POST">
            <div class="div-container">

                <!-- 2nd form -->
                <div class="my-div" id="div2">
               

                    <div class="full">
                        <div class="details Admission">
                        
                        <br>
                        <br>
                            <span class="title"><b>III. ACADEMIC INFORMATION</b></span><br>
                            <div class="column">
                                <div class="input-box">
                                    <label>+2 EMIS ID*</label><br>
                                    <input type="number" name="emis" placeholder="Enter the number" required>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="government GQ na">
                                <span class="title"><b>IV. ADMISSION DETAILS (Only for GQ Students)</b></span><br>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Counselling Application No*</label><br>
                                        <input type="text" name="counselNo" placeholder="Enter the number">
                                    </div>
                                    <div class="input-box">
                                        <label> GQ Admission Number*</label><br>
                                        <input type="text" name="GQseat" placeholder="Enter the Rank Number">
                                    </div>
                                    <div class="input-box">
                                        <label> Counselling General Rank*</label><br>
                                        <input type="text" name="counselRank" placeholder="Enter the Rank Number">
                                    </div>
                                </div>
                            </div>
                            <br>

                            <span class="title"><b>10th Std. School Information</b></span><br>
                            <div class="column">
                            <div class="select-box">
                                    <label for="">Select School</label>
                                    <select id="Tenth_Std_School_Name" name="Tenth_Std_School_Name" onchange="toggleInputBox()" required>
                                        {% for school_name in school_names %}
                                        <option value="{{ school_name }}">{{ school_name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>                            
                                <div class="select-box">
                                    <label> Year of Passing*</label>
                                    <select name="Tenth_Std_Year_of_Passing" id="Tenth_Std_Year_of_Passing"  placeholder="Enter the Year" required>
                                        <option value="" disabled selected>Select Year</option>
                                        <option value="2017">2017</option>
                                        <option  value="2018">2018</option>
                                        <option  value="2019">2019</option>
                                        <option  value="2020">2020</option>
                                        <option  value="2021">2021</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <label> Place of the School*</label><br>
                                    <input type="text" name="Tenth_Std_Place_of_School" id="Tenth_Std_Place_of_School"placeholder="Enter the Place" required>
                                </div>
                                
                            </div>
 <!-- ================================================================================================================================= -->
 <div class="sample"><div class="column" >
                                <div class="select-box" >
                                    <label>Medium of Study in 10th*</label>
                                    <select name="Tenth_Std_Medium_of_Study" required>
                                        <option value="" disabled selected>Select Medium</option>
                                        <option value="English">English</option>
                                        <option  value="Tamil">Tamil</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label>School Type*</label>
                                    <select name="Tenth_Std_School_Type" id="Tenth_Std_School_Type" required>
                                        <option  value="" disabled selected>Select</option>
                                        <option value="State Board">State Board</option>
                                        <option value="CBSE">CBSE</option>
                                        <option value="ICSE">ICSE</option>
                                </div><br>
                               
                            </div></div>
                            
                            <span class="title"><b>SSLC Details</b></span><br>


                            <div class="column" >
                                <div class="input-box">
                                    <label>SSLC Register No*</label><br>
                                    <input type="text" name="Tenth_Std_Register_No" placeholder="Enter the number" required>
                                </div>

                                <div class="input-box">
                                    <label>SSLC Roll No*</label><br>
                                    <input type="number" name="Tenth_Std_Roll_No" placeholder="Enter the number" required>
                                </div>
                                <div class="input-box">
                                    <label>SSLC Marksheet No*</label><br>
                                    <input type="number" name="Tenth_Std_Marksheet_No" placeholder="Enter the number" required>
                                </div>
                            </div>
                            <div class="column">
                            <div class="select-box">
                                <label>10th studied in* </label>
                                <select name="Tenth_Std_Studied_In" required>
                                    <option  value="" disabled selected>Select</option>
                                    <option value="Tamilnadu">Tamilnadu</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                                        </div></div>
                                        
<!-- ================================================================================================================================= -->
                        
                        <br><br><span class="title"><b>Mark Scored in SSLC</b></span><br>
                        <div id="constantFields">
                        <div class="column">
                            <div class="input-box">
                                <label>Enter the Subject Name*</label>
                                <input type="text" name="Tenth_Std_Subject1_Name" placeholder="Enter the name" required>
                            </div>
                            <div class="input-box">
                                <label for="Tenth_Std_Subject1_Mark">Enter the Mark*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Subject1_Mark" id="Tenth_Std_Subject1_Mark"
                                    placeholder="Enter the marks" oninput="calculateSum()" required>
                            </div>
                            <div class="input-box">
                                <label>Out of*</label>
                                <input type="number" maxlength="3" name="sslcout1" placeholder="Enter the marks" value="100" required>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label>Enter the Subject Name*</label>
                                <input type="text" name="Tenth_Std_Subject2_Name" placeholder="Enter the name" required>
                            </div>
                            <div class="input-box">
                                <label for="sslcsubm2">Enter the Mark*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Subject2_Mark" id="Tenth_Std_Subject2_Mark"
                                    placeholder="Enter the marks" oninput="calculateSum()" required>
                            </div>
                            <div class="input-box">
                                <label>Out of*</label>
                                <input type="number" maxlength="3" name="sslcout2" placeholder="Enter the marks"value="100" required>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label>Enter the Subject Name*</label>
                                <input type="text" name="Tenth_Std_Subject3_Name" placeholder="Enter the name"  required>
                            </div>
                            <div class="input-box">
                                <label for="sslcsubm3">Enter the Mark*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Subject3_Mark" id="Tenth_Std_Subject3_Mark" 
                                    placeholder="Enter the marks" oninput="calculateSum()" required>
                            </div>
                            <div class="input-box">
                                <label>Out of*</label>
                                <input type="number" maxlength="3" name="sslcout3" placeholder="Enter the marks" value="100"required>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label>Enter the Subject Name*</label>
                                <input type="text" name="Tenth_Std_Subject4_Name" placeholder="Enter the name" required>
                            </div>
                            <div class="input-box">
                                <label for="sslcsubm4">Enter the Mark*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Subject4_Mark" id="Tenth_Std_Subject4_Mark" 
                                    placeholder="Enter the marks" oninput="calculateSum()" required>
                            </div>
                            <div class="input-box">
                                <label>Out of*</label>
                                <input type="number" maxlength="3" name="sslcout4" placeholder="Enter the marks"value="100" required>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label>Enter the Subject Name*</label>
                                <input type="text" name="Tenth_Std_Subject5_Name" placeholder="Enter the name" required>
                            </div>
                            <div class="input-box">
                                <label for="Tenth_Std_Subject5_Mark">Enter the Mark*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Subject5_Mark" id="sslcsubm5" 
                                    placeholder="Enter the marks" oninput="calculateSum()" required>
                            </div>
                            <div class="input-box">
                                <label>Out of*</label>
                                <input type="number" maxlength="3" name="sslcout5" placeholder="Enter the marks" value="100" required>
                            </div>
                        </div>
                        <div class="column ICSE six" >
                            <div class="input-box">
                                <label>Enter the Subject Name*</label>
                                <input type="text" name="Tenth_Std_Subject6_Name" placeholder="Enter the name" >
                            </div>
                            <div class="input-box">
                                <label for="Tenth_Std_Subject6_Mark">Enter the Mark*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Subject6_Mark" id="Tenth_Std_Subject6_Mark" 
                                    placeholder="Enter the marks" oninput="calculateSum()">
                            </div>
                            <div class="input-box">
                                <label>Out of*</label>
                                <input type="number" maxlength="3" name="sslcout6" placeholder="Enter the marks" value="100">
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label for="Tenth_Std_Total_Mark">Enter the Total Mark*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Total_Mark" id="Tenth_Std_Total_Mark" readonly
                                    placeholder="Enter the marks" >
                            </div>
                            <div class="input-box">
                                <label>Out of*</label>
                                <input type="number" maxlength="3" name="Tenth_Std_Obtain_Mark" placeholder="Enter the marks"  required>
                            </div>
                        </div></div>
                            <br>
                            <br>
                            <br>
                            <div class="buttons">
                                <div class="align-left">
                                    <button type="submit"  id="btnn3">NextPage</button>
                                </div>
                            </div>

                        </form>
                    </div>
</body>

</html>