{% extends "test/footer.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ramco Institute of Technology</title>

<body>
    {% block header %}

    <div class="rit"></div>

    <div class="container">
        <div class="heading">B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM</div>
        <form method="post" action="{% url 'preform_declare' %}" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-all">
                <div class="admission">
                <span class="title"><b>COURSE PREFERRENCE</b></span>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Branch(Course) Preferrence 1</label>
                            <select name="Branch_Preferrence_1" id="Branch_Preferrence_1" class="form-control" required>
                                <option hidden>Select Branch</option>
                                <option>B.E CIVIL</option>
                                <option>B.E CSE</option>
                                <option>B.E ECE</option>
                                <option>B.E EEE</option>
                                <option>B.E MECH</option>
                                <option>B.TECH AI&DS</option>
                                <option>B.TECH CSBS</option>
                                <option>B.TECH IT</option>
                            </select>                       
                         </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Branch(Course) Preferrence 2</label>
                            <select name="Branch_Preferrence_2" id="Branch_Preferrence_2" class="form-control" required>
                                <option hidden>Select Branch</option>
                 <option>B.E CIVIL</option>
                 <option>B.E CSE</option>
                 <option>B.E ECE</option>
                 <option>B.E EEE</option>
                 <option>B.E MECH</option>
                 <option>B.TECH AI&DS</option>
                 <option>B.TECH CSBS</option>
                 <option>B.TECH IT</option>
                            </select>            
                                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Quota">Quota</label>
                            <select name="Quota" id="Quota" class="form-control"  required>
                                <option  value="" disabled selected>Select</option>
                                <option value="GQ">Government Quota</option>
                                <option value="MQ">Management Quota</option>
                            </select>
                        </div>
                    </div>
                </div>
               
                <span class="title"><b>OTHER INFORMATION</b></span>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Physically Challenged?</label>
                            <select name="Physically_Challenged" id="Physically_Challenged" class="form-control" required>
                                <option hidden>Select </option>
                                <option>yes</option>
                                <option>No</option>
                            </select>                       
                         </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">First Generation Graduate?</label>
                            <select name="First_Generation_Graduate" id="First_Generation_Graduate?" class="form-control" required>
                                <option hidden>Select </option>
                                <option>yes</option>
                                <option>No</option>
                            </select>            
                                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Hostel Required?</label>
                            <select name="Hostel_Required" id="Hostel_Required" class="form-control" required>
                                <option hidden>Select </option>
                                <option>yes</option>
                                <option>No</option>
                            </select>                       
                         </div>
                    </div>
                </div>
                <div class="title"><b>ADMISSION REQUIRED UNDER MQ:</b></span>
                    <div class="field">
                      <br><p>Enabled Application processing fee in the form of online payment for Rs.500/-
                          drawn in favour of Ramco Institute of Technology,payable at Rajapalayam.</p><br>
                          <center><a href="https://epayments.in.worldline.com/ritrjpm_new_enrollment" target="_blank" class="btn btn-outline-success btn-search">PAY</a></center>
                              <label><b><div class="title">DECLARATION</b></label></div><br>
                            <p>I declare that my admission is at my own risk and is provisional.It is subject to the approval of
                              the Anna University,Chennai.If,for any reason,I am found ineligible,I will not hold the
                              College responsible.I also declare that the particulars given above are Correct.
                            </p>
                        </div>
            </div>
        </div>
    </div>    
  
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>    

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}

</body>
</html>