{% extends "postform/footer.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Ramco Institute of Technology</title>
<body>
    {% block header %}

    <div class="rit"></div>
    <div class="home_button" style="max-width: 150px; margin-top: 20px;">

        <a href="{% url 'index' %}" class="btn btn-primary btn-block" style="vertical-align: middle">
            <span>Home Button</span>
        </a>
        
                        </div>
        <div class="container">
            <div class="box">
                <form action="{% url 'certificate_check' %}" method="GET" autocomplete="off">
                    <div class="heading">B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM
                        
                    </div>
                    <div class="col-md-6 mx-auto text-center">
                    <div id="login-form-wrap " style="margin-top: 50px; background-color: fff;">
                        <h2 class="text-center mb-4">Enroll Aadhaar Number</h2>
                        <div class="form-group">
                            <input name="aadhaar" id="aadhaar" type="text" minlength="12" maxlength="12" class="form-control" placeholder="Enter Number Only" required>
                        </div>
                        <div class="form-group">
                            <button type='submit' id='submit' name='submit' class="btn btn-primary btn-block"
                                style="vertical-align:middle"><span>Check</span></button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
        {% endblock %}
 
</body>