{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ramco Institute of Technology</title>

<body>
    <div class="container">
        <h3 class="col-md-12">B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM</h3>
        <form method="post" id="address">
            {% csrf_token %}

            <div class="form-all">
                <h3 class="col-md-12">I. COMMUNICATION DETAILS</h3>
                <span class="title"><b>a)Permanent Address</b></span>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input1">Door No</label>
                            <input type="text" name="Permanent_Address_Door_No" class="form-control"  placeholder="Enter the number" id="Permanent_Address_Door_No" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Street Name*</label>
                            <input type="text" name="Permanent_Address_Street_Name" class="form-control"  placeholder="Enter the name" id="Permanent_Address_Street_Name" required />                                             
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Location*</label>
                            <input type="text" name="Permanent_Address_Location" class="form-control"  placeholder="Enter the Location" id="Permanent_Address_Location" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input1">Taluk*</label>
                            <input type="text" name="Permanent_Address_Taluk" class="form-control"  placeholder="Enter the name" id="Permanent_Address_Taluk" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">District</label>
                            <select name="Permanent_Address_District" id="Permanent_Address_District" class="form-control"  required>
                                <option value="" disabled selected>Select</option>
                                <option value="ARIYALUR">ARIYALUR</option>
                            <option value="CHENNAI">CHENNAI</option>
                            <option value="CHENGALPATTU">CHENGALPATTU</option>
                            <option value="COIMBATORE">COIMBATORE</option>
                            <option value="CUDDALORE">CUDDALORE</option>
                            <option value="DHARMAPURI">DHARMAPURI</option>
                            </select>                    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">State*</label>
                            <select name="Permanent_Address_State"  id="Permanent_Address_State"class="form-control"  required>
                            <option value="" disabled selected>Select</option>
                            <option value="TAMIL NADU">Tamil Nadu</option>
                            <option value="KERALA">Kerala</option>
                            <option value="KARNATAKA">Karnataka</option>
                            <option value="TELANGANA">Telangana</option>
                            <option value="ANDHRA PRADESH">Andhra Pradesh</option>
                            <option value="Others">Others</option>
                        </select>
                                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input1">Pincode</label>
                            <input type="number" name="Permanent_Address_Pincode" placeholder="Enter the number" class="form-control"  id="Permanent_Address_Pincode" required />
                        </div>
                    </div>
                </div>

                <span class="title"><b>b)Communication Address</b></span><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input1">Door No</label>
                            <input type="text" name="Communication_Address_Door_No" class="form-control"  placeholder="Enter the number" id="Communication_Address_Door_No" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Street Name*</label>
                            <input type="text" name="Communication_Address_Street_Name"class="form-control"  placeholder="Enter the name" id="Communication_Address_Street_Name" required />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">Location*</label>
                            <input type="text" name="Communication_Address_Location" class="form-control" placeholder="Enter the Location" id="Communication_Address_Location" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input1">Taluk*</label>
                            <input type="text" name="Communication_Address_Taluk" class="form-control"  placeholder="Enter the name" id="Communication_Address_Taluk" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">District</label>
                            <select name="Communication_Address_District" id="Communication_Address_District" class="form-control"  required>
                                <option value="" disabled selected>Select</option>
                                <option value="ARIYALUR">ARIYALUR</option>
                                </select>                                         
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input2">State*</label>
                            <select name="Communication_Address_State" class="form-control"  id="Communication_Address_State" required>
                                <option value="" disabled selected>Select</option>
                                <option value="TAMIL NADU">Tamil Nadu</option>
                                <option value="KERALA">Kerala</option>
                                <option value="KARNATAKA">Karnataka</option>
                                <option value="TELANGANA">Telangana</option>
                                <option value="ANDHRA PRADESH">Andhra Pradesh</option>
                                <option value="Others">Others</option>
                            </select>
                         </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="input1">Pincode</label>
                            <input type="number" name="Communication_Address_Pincode" class="form-control" placeholder="Enter the number" id="Communication_Address_Pincode" required />
                        </div>
                    </div>
                </div>
 
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>