
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block header %}
    {% endblock %}

  <footer class='footer bg-dark text-light' style="margin-top: 100px;">
    <div class='container'>
      <div class='row'>
        <div class='footer_col col-md-3'>
          <P> <br>Ramco Institute of Technology<br>
            North Venganallur Village,<br>
            Rajapalayam – 626 117,<br>Virudhunagar District, TamilNadu.<br>
            <br>
          </P>
          <P><br>04563 233400<br>
            rit@ritrjpm.ac.in
            <br>www.ritrjpm.ac.in<br>
          </P>
        </div>
        <div class='footer_col col-md-3'>
          <h1>Menu</h1>
          <ul>
            <li>
              <a href='https://www.ritrjpm.ac.in/images/EC%20-%20RIT%2005.07.2013.pdf' target='_blank'>Environmental
                Clearance</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/images/RIT_EC-Compliance%20Report.pdf' target='_blank'>EC Compliance
                Reports</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/images/pdf/2021-2022/Anti_Raggging_Committee_2021.pdf'
                target='_blank'>Anti Ragging Committee</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/images/pdf/2021-Complaints-Grievance-Redressal-Committee.pdf'
                target='_blank'>Complaints Cum Redressal <br>Committee</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/article/alumini.php' target='_blank'>Alumni</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/gallery/event-gallery.php' target='_blank'>Event Gallery</a>
            </li>
          </ul>
        </div>
        <div class='footer_col col-md-3'>
          <h1>Quick Link</h1>
          <ul>
            <li>
              <a href='https://www.ritrjpm.ac.in/press/details.php ' target='_blank'><br>Press<br></a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/article/college-magazine.php'>College Magazine</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/article/news-letter.php'>News Letter</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/images/nirf-data.pdf'>NIRF</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/article/feedback.php'> Feedback</a>
            </li>
            <li>
              <a href='https://www.ritrjpm.ac.in/gallery/campus-gallery.php'>Campus Gallery</a>
            </li>
          </ul>
        </div>
        <div class='footer_col col-md-3'>
          <h1>FOLLOW US</h1>
          <ul>
            <a href='https://www.ritrjpm.ac.in/#'><br><i class='fa fa-google' style='font-size:30px;'></i></a>
  
            <a href='https://www.facebook.com/RITRajapalayam/?modal=admin_todo_tour'><i class='fa fa-facebook'
                style='font-size:30px;'></i></a>
  
            <a href='https://www.ritrjpm.ac.in/#'><i class='fa fa-twitter' style='font-size:30px;'></i></a>
  
            <a href='https://www.instagram.com/ramco_rajapalayam/'> <i class='fa fa-instagram'
                style='font-size:30px;'></i></a>
  
            <a
              href='https://www.youtube.com/channel/UCsqlK0-FBItsGzjI9qYiP-g?embeds_euri=https%3A%2F%2Fwww.ritrjpm.ac.in%2F&feature=emb_ch_name_ex'>
              <i class='fa fa-youtube' style='font-size:30px;'></i><br></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
