
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block name %}
    {% endblock %}
<!-- <div class="name" style="display: flex; ">
    <div class="col-md-8">
      <div class="space" style="margin-left: 20px;">
    <pr>©2023&nbsp;&nbsp;&nbsp; 
            Dept., of B.Tech.AI&DS</a> &nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;&nbsp; Designed by : Ganesaperumal.S-II Year </pr>
          </div>
        </div>
          <div class="col-md-4">
            <div class="space"style="margin-left: 80px; ">
            <pr> Supported by HERA Technology Dubai</pr>
          </div>
      </div>
</div> -->