{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Ramco Institute of Technology</title>
<body>
    <div class="rit"></div>
    <div class="container">

    <div class="heading">B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM</div>
    <form method="GET" action="{% url 'post_index' %}">
    <div class="col-md-5" style="margin-left: 250px;">
        <div class="form-group">
            <label for="input1"> Enter Your Aadhar Number:</label>
            <input type="text" name="Aadhaar_Number" maxlength="20" class="form-control" placeholder="Enter the Aadhaar_Number">
        </div>
        <button type="submit"  class="btn btn-success"  id="btnn3">Submit</button>

    </div>
</form>
</div>
</body>