{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Ramco Institute of Technology</title>
<body>
    <div class="rit"></div>
    <div class="container">

    <div class="heading">B.E/B.TECH I YEAR & II YEAR (LATERAL ENTRY) ADMISSION FORM</div>

    <div class="row card-row" style="margin-top: 20px;">
        <div class=" col-md-4">
            <a href="" class="card-link">
                <div class="card" style="background-color: 005073;">
                    <div class="card-body">
                        <span>GM_Admin_Login</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href=""  class="card-link">
                <div class="card" style="background-color: 005073;">
                    <div class="card-body">
                        <span >HOD_Login</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href=""  class="card-link">
                <div class="card" style="background-color: 005073;">
                    <div class="card-body">
                        <span >OFFICE USE</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <a href="{%url 'post_index' %}"  class="card-link">
                <div class="card" style="background-color: 005073;">
                    <div class="card-body">
                        <span >Postform</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href=""  class="card-link">
                <div class="card" style="background-color: 005073;">
                    <div class="card-body">
                        <span >Preform</span>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>
</body>