{% extends "dashboard/index.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

{% if user %}

{% block hsc_title %}
<h3 style="margin-left: 250px;">FIRST YEAR DETAILS</h3>
{% endblock %}

{% block dashboard %}
<div class="card">
    <div class="card-head">
        <h2>{{ total }}</h2>

        <span class="las la-user-friends"></span>
    </div>
    <div class="card-progress">
        <small>TOTAL SEATS</small>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ total }}%;" aria-valuenow="{{ total }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        
    </div>
</div>
<div class="analytics">
    <div class="card">
        <div class="card-head">
            <h2>{{ gq }}</h2>
            <span class="las la-graduation-cap"></span>
        </div>
        <div class="card-progress">
            <small>ADMITTED GQ STUDENT</small>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ gq }}%;" aria-valuenow="{{ gq }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-head">
            <h2>{{ mq }}</h2>
            <span class="las la-graduation-cap"></span>
        </div>
        <div class="card-progress">
            <small>ADMITTED MQ STUDENT</small>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ mq }}%;" aria-valuenow="{{ mq }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

</div>

{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
<table class="table table-striped table-bordered">
    <thead class="thead">
        <tr>
            <th>REF NO</th>
            <th>STUDENT Name</th>
            <th>QUOTA</th>
            <th>DEPARTMENT</th>
            <th>APPLYIED FOR</th>
            <th>AADHAAR NO</th>
            <th>PARENT NUMBER</th>
            <th>CATEGORY</th>
            <th>CUTOFF</th>
            <th>DATE OF ADMISSION</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for p in personal %}
            <tr>
                <!-- Display Personal Details -->
            <td>{{ p.admissionNo }}</td>
            <td>{{ p.Name }}</td>
            <td>{{ p.Quota }}</td>
            <td>{{ p.Department }}</td>
            <td>{{ p.admissionFor }}</td>
            <td>{{ p.Aadhaar_Number }}</td>
            <td>{{ p.Father_Mobile_Number }}</td>
    
            {% if p.hsc_marks_set.all %}
                <td>{{ p.hsc_marks_set.all.0.Twelfth_Std_Category }}</td>
                <td>{{ p.hsc_marks_set.all.0.Twelfth_Std_aca_CUT_OFF_Mark }}</td>
            {% else %}
                <td colspan="2">No HSC Details - {{ p.hsc_set.all }}</td>
            {% endif %}

            {% if p.academic_details_set.all %}
                    <td>{{ p.academic_details_set.all.0.dateadmission }}</td>
                {% else %}
                    <td colspan="2">No Academic Details</td>
                {% endif %}
            <td>
                        <a href="{% url 'dashboard_pdf_show' p.Aadhaar_Number %}" class="btn btn-primary">Show_pdf</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
    
</table>

<div class="pagination">
    <span class="step-links">
        {% if personal.has_previous %}
            <a class="btn btn-sm btn-primary" href="?personal_page=1">&laquo; First</a>
            <a class="btn btn-sm btn-primary" href="?personal_page={{ personal.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ personal.number }} of {{ personal.paginator.num_pages }}
        </span>

        {% if personal.has_next %}
            <a class="btn btn-sm btn-primary" href="?personal_page={{ personal.next_page_number }}">Next</a>
            <a class="btn btn-sm btn-primary" href="?personal_page={{ personal.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}











{% block dip_title %}
<h3 style="margin-left: 250px;"> LATERAL ENTRY DEATAILS</h3>

{% endblock %}

{% block diplomadashboard %}


{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
<table class="table table-striped table-bordered">
    <thead class="thead">
        <tr>
            <th>REF NO</th>
            <th>STUDENT Name</th>
            <th>QUOTA</th>
            <th>DEPARTMENT</th>
            <th>APPLYIED FOR</th>
            <th>AADHAAR NO</th>
            <th>PARENT NUMBER</th>
            <th>Diploma_apply_for</th>
            <th>Dipoma_percentange</th>
            <th>CATEGORY</th>
            <th>CUTOFF</th>
            <th>DATE OF ADMISSION</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for p in dip_personal %}
            <tr>
                <!-- Display Personal Details -->
            <td>{{ p.admissionNo }}</td>
            <td>{{ p.Name }}</td>
            <td>{{ p.Quota }}</td>
            <td>{{ p.Department }}</td>
            <td>{{ p.admissionFor }}</td>
            <td>{{ p.Aadhaar_Number }}</td>
            <td>{{ p.Father_Mobile_Number }}</td>

            {% if p.diplomo_set.all %}
            <td>{{ p.diplomo_set.all.0.Diploma_apply_for }}</td>
            <td>{{ p.diplomo_set.all.0.total_percentages }}</td>
        {% else %}
            <td colspan="2">No diploma Details </td>
        {% endif %}
    
            {% if p.hsc_marks_set.all %}
                <td>{{ p.hsc_marks_set.all.0.Twelfth_Std_Category }}</td>
                <td>{{ p.hsc_marks_set.all.0.Twelfth_Std_aca_CUT_OFF_Mark }}</td>
            {% else %}
                <td colspan="2">No HSC Details - {{ p.hsc_set.all }}</td>
            {% endif %}

            {% if p.academic_details_set.all %}
                    <td>{{ p.academic_details_set.all.0.dateadmission }}</td>
                {% else %}
                    <td colspan="2">No Academic Details</td>
                {% endif %}
            <td>
       
                        <a href="{% url 'dashboard_pdf_show' p.Aadhaar_Number %}" class="btn btn-primary">Show_pdf</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
    
</table>

<div class="pagination">
    <span class="step-links">
        {% if personal.has_previous %}
            <a class="btn btn-sm btn-primary" href="?personal_page=1">&laquo; First</a>
            <a class="btn btn-sm btn-primary" href="?personal_page={{ personal.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ personal.number }} of {{ personal.paginator.num_pages }}
        </span>

        {% if personal.has_next %}
            <a class="btn btn-sm btn-primary" href="?personal_page={{ personal.next_page_number }}">Next</a>
            <a class="btn btn-sm btn-primary" href="?personal_page={{ personal.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}



 


    {% block sidebar %}
    {% if hod == 'admin' %}
    <div class="side-menu">
        <ul>
            <li>
                <a href="">
                    <span class="las la-home"></span>
                    <small>Dashboard</small>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-alt"></span>
                    <small>AIDS</small>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-alt"></span>
                    <small>EEE</small>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-alt"></span>
                    <small>ECE</small>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-alt"></span>
                    <small>CSE</small>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-alt"></span>
                    <small>CSBS</small>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-alt"></span>
                    <small>IT</small>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-alt"></span>
                    <small>MECH</small>
                </a>
            </li>
            <li>
                <a href="" class="active">
                    <span class="las la-user-alt" ></span>
                    <small>CIVIL</small>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% if hod == 'otheruser' %}

    <div class="side-menu">
        <ul>
            <li>
                <a href="{% url 'dashboard' %}">
                    <span class="las la-home"></span>
                    <small>Dashboard</small>
                </a>
            </li>
            <li>
                <a href="{% url 'ad' %}" >
                    <span class="las la-user-alt"></span>
                    <small>AIDS</small>
                </a>
            </li>
            <li>
                <a href="{% url 'eee' %}">
                    <span class="las la-user-alt"></span>
                    <small>EEE</small>
                </a>
            </li>
            <li>
                <a href="{% url 'ece' %}">
                    <span class="las la-user-alt"></span>
                    <small>ECE</small>
                </a>
            </li>
            <li>
                <a href="{% url 'cse' %}">
                    <span class="las la-user-alt"></span>
                    <small>CSE</small>
                </a>
            </li>
            <li>
                <a href="{% url 'csbs' %}">
                    <span class="las la-user-alt"></span>
                    <small>CSBS</small>
                </a>
            </li>
            <li>
                <a href="{% url 'it' %}">
                    <span class="las la-user-alt"></span>
                    <small>IT</small>
                </a>
            </li>
            <li>
                <a href="{% url 'mech' %}" class="active">
                    <span class="las la-user-alt"></span>
                    <small>MECH</small>
                </a>
            </li>
            <li>
                <a href="{% url 'civil' %}">
                    <span class="las la-user-alt"></span>
                    <small>CIVIL</small>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}

    {% endblock %}


{% endif %}